<div class="col-xs-12">
      
      <div class="col-xs-12">
        <div class="col-xs-6">
          <input id='course_id' type='hidden' value= <%= params[:course_id] %>>
          <form>
            <label> Agrega descripcion de la evaluacion </label>
            <input type="text" name="descripcion">
          </form>

        </div>
        <div class="col-xs-6">
          <button id="add-text" type="submit" class="btn btn-primary">
          Pregunta Abierta
          </button>
        <button id="add-radio-button" type="submit" class="btn btn-primary">
          Seleccion Multiple
        </button>
        <button id="add-checkbox" type="submit" class="btn btn-primary">
          Seleccion Variada
        </button>
        </div>
    </div>

    <div class="col-xs-12 module-container">

    </div>
    <div class='col-xs-12'>
      <button id='agregar' type='submit' class='btn btn-primary btn-block'>
        Agregar
      </button>
    </div>
</div>

<script type="text/javascript">
  var num = 1;

$("#add-text").click(function (){
  var text = "<div class='col-xs-12'> <div class='col-xs-12'> <form id='pregunta'> " + "<label> " + num + ". pregunta: </label>" + "<textarea name='pregunta_abierta' rows='3' cols='40' ></textarea> <a id='remove-text'> <ul class='nav nav-pills'> <li> Eliminar </a> </li> </ul> </form> </div> </div>";

  $('.module-container').append(text);
  num = num + 1;

  $('a#remove-text').unbind().click(function(){
    num = num - 1;
    $($($($($(this).parent()).parent()).parent()).parent()).parent().remove();
    //console.log($($($($($(this).parent()).parent()).parent()).parent()).parent());
  });
});

$("#add-radio-button").click(function(){
  var button = $("<button id='radio' class='btn btn-primary'> Agregar posible respuesta </button>");
  var text = $("<div class='agregados'> <div class='col-xs-12'> <div class='col-xs-9'> <form id='pregunta'> <label> " + num + ". Pregunta </label>" + "<input type='text' name='pregunta_rb' id='pregunta_radio'> (Agrega las posibles respuestas y selecciona la correcta) <a id='remove-radio'> <ul class='nav nav-pills'> <li> Eliminar </a> </li> </ul> </form> </div> <div class='col-xs-3'> " + $(button)[0].outerHTML + "</div> <div class='col-xs-12'> <form> </form> </div> </div> </div>");
  $('.module-container').append($(text)[0].innerHTML);

  $("button#radio").unbind().click(function(){
    var radio = $("<div class='col-xs-4'> <div class='col-xs-2'><input type='radio' name='selector'> </div> <div class='col-xs-6'> <input type='text' name='radio_respuesta'> </div> <div class='col-xs-6'> <a id='remove-radio-option'> <ul class='nav nav-pills'> <li> Eliminar </a> </li> </ul> </div> </div> ");
     $($($($($(this).parent()).siblings()).last()).children()).append(radio);

    $('a#remove-radio-option').unbind().click(function(){
      $($($($($($(this).parent()).parent()).parent()).parent())).remove();
    //console.log($($($($($(this).parent()).parent()).parent()).parent()));
    });
  });


    $('a#remove-radio').unbind().click(function(){
    num = num - 1;
    $($($($($(this).parent()).parent()).parent()).parent()).parent().remove();
    //console.log($($($($($(this).parent()).parent()).parent()).parent()).parent());
  });
  num = num + 1;
});

$("#add-checkbox").click(function(){
  var button = $("<button id='checkbox' class='btn btn-primary'> Agregar posible respuesta </button>");
  var text = $("<div class='agregados'> <div class='col-xs-12'> <div class='col-xs-9'> <form id='pregunta'> <label> " + num + ". Pregunta </label>" + "<input type='text' name='pregunta_checkbox' id='pregunta_radio'> (Agrega las posibles respuestas y selecciona las correctas) <ul class='nav nav-pills'> <li> <a id='remove-checkbox'> Eliminar </a> </li> </ul> </form>  </div> <div class='col-xs-3'> " + $(button)[0].outerHTML + "</div> <div class='col-xs-12'> <form> </form> </div> </div> </div> </div>");
  
  $('.module-container').append($(text)[0].innerHTML);
  

  $("button#checkbox").unbind().click(function(){
    var checkbox = $("<div class='col-xs-4'> <div class='col-xs-2'> <input type='checkbox' name='seleccionada' value=" + true + "> </div> <div class='col-xs-6'> <input type='text' name='checkbox_respuesta'> </div> <div class='col-xs-6'> <a id='remove-checkbox-option'> <ul class='nav nav-pills'> <li> Eliminar </a> </li> </ul> </div> </div>");
  $($($($($(this).parent()).siblings()).last()).children()).append(checkbox);

  $('a#remove-checkbox-option').unbind().click(function(){
      $($($($($($(this).parent()).parent()).parent()).parent())).remove();
    //console.log($($($($($(this).parent()).parent()).parent()).parent()));
    });
  });

$('a#remove-checkbox').unbind().click(function(){
    num = num - 1;
    $($($($($(this).parent()).parent()).parent()).parent()).parent().remove()
    //console.log($($($($($(this).parent()).parent()).parent()).parent()).parent());
  });

  num = num + 1;
});


$("button#agregar").click(function(){
    var form = $('form').serializeArray();
    var course_id = $('#course_id').val();
    $.ajax({
      url: "/admins/evaluacions/create_evaluacion",
      data: {
        form: form,
        course_id: course_id
      },
      success: function(data) {
          $.fancybox("<div><h1>Nueva Evaluacion Agregada</h1></div>", {
                  // API options here
                  helpers:  {
                  title : {
                  type : 'inside'
                  },
                  overlay : {
                  css : {
                  'background' : 'rgba(255,255,255,0.7)'
                        }
                    }
                  }
              });
          window.location.href = "http://localhost:3000/admins/courses/specific_course?course_id=" + course_id;
          }
    });
  });
</script>