<div class="col-xs-12">
      
      <div class="col-xs-12">
        <div class="col-xs-6">
          <form id="evaluacion">
            <label> Agrega descripcion de la evaluacion </label>
            <input type="text" name="descripcion">
          </form>
        </div>
        <div class="col-xs-6">
          <button id="text" type="submit" class="btn btn-primary">
          Pregunta Abierta
        </button>
        <button id="radio-button" type="submit" class="btn btn-primary">
          Seleccion Multiple
        </button>
        <button id="checkbox" type="submit" class="btn btn-primary">
          Seleccion Variada
        </button>
        </div>
    </div>
    <button id='agregar' type='submit' class='btn btn-primary btn-block'>
      Agregar
    </button>
</div>

<script type="text/javascript">
var num = 1;
$("#text").click(function (){
  var text = "<div class='col-xs-12'><form id='pregunta'> " + "<label> " + num + ". pregunta: </label>" + "<textarea name='pregunta' rows='3' cols='40' > " + " </textarea> </form></div>";
  $('body').append(text);
  num = num + 1;
});

$("#radio-button").click(function(){
var text = "<div class='col-xs-12'> <div class='col-xs-9'> <form id='pregunta'> <label> " + num + ". Pregunta </label>" + "<input type='text' name='pregunta'> (Agrega las posibles respuestas y selecciona la correcta)</form> </div> <div class='col-xs-3'> <button id='boton' class='btn btn-primary'> " + "Agregar posible respuesta" + "</button> </div> </div>";
$('body').append(text);
num = num + 1;
});

$("button").click(function (){
  alert('Entra');
});

$("#agregar").click(function(){
    var form = $('form').serializeArray();
    var datos = [];
    $(form).each(function(index, value){
    alert(index + ": " + value.value);
    });
  });
</script>