.col-xs-12
  %h1 Welcome
.col-xs-4
  %h2 Bienvenida
.col-xs-8    
  %h1 Detalles del usuario
  .col-xs-4.col-xs-offset-8
    %h4
      = link_to "Editar Informacion", edit_user_registration_path(current_user)
  .col-xs-12
    %hr
    %h2 Email
    = link_to @information.email
    %h2 Creado
    = link_to @information.created_at
.col-xs-12
  %hr
.col-xs-6.col-xs-offset-5
  %h3 deslogue
%footer