%html
  %head
  %body 
    .container-fluid
      .col-xs-12
        %h1 Welcome
      .col-xs-4
        %h2 Bienvenida
      .col-xs-8    
        .col-xs-8
          %h1 Cursos
        .col-xs-4
          = link_to "Agregar Nuevo", new_admins_course_path(:modulo_id => params[:modulo_id])
      .col-xs-8.col-xs-offset-3
        - @info_courses.each do |c|
          %hr
          %h2
          = link_to c.nombre, specific_course_admins_courses_path(:course_id => c.id)
          %p= c.descripcion
          %p= c.created_at
      .col-xs-12
        %hr
      .col-xs-6.col-xs-offset-5
        %h3 deslogue
  %footer