.col-xs-12
  %h1 Welcome
.col-xs-4
  %h2 Bienvenida
.col-xs-8    
  %h1 Modulos
  - @info_courses.each do |c|
    .col-xs-12
      %hr
      %h2
      = link_to c.nombre, specific_course_path(:course_id => c.id)
      %p= c.descripcion
      %p= c.created_at
.col-xs-12
  %hr
.col-xs-6.col-xs-offset-5
  %h3 deslogue
  %footer