.col-xs-8    
  %h1 Cursos
  - @courses.each do |c|
    .col-xs-12
      %hr
      %h2
      = link_to c.nombre, courses_path(:modulo_id => c.id)
      %p= c.descripcion
      %p= c.created_at
.col-xs-12
  %hr
.col-xs-6.col-xs-offset-5
  %h3 deslogue